<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalabel=0">
    <title>离散数学网后台管理系统</title>
    <link href="/muke/App/Admin/Common/css/manage.css" rel='stylesheet' type='text/css' />
    <link href="/muke/App/Admin/Common/css/common.css" rel='stylesheet' type='text/css' />
</head>
<body>
    <nav>
        离散数学后台管理系统
    </nav>
<section class="left">
    <ul>
        <li class="left_li"><a href="#">主页</a></li>
        <li class="left_li"><a href="student">学生管理</a></li>
        <li class="left_li"><a href="message">留言管理</a></li>
    </ul>
</section>
<section class="right">
    <div class="container">
        <p class="info">系统出现问题，请联系管理员:李长航 (TEL:15262042918)</p>
    </div>
</section>
</body>
</html>