<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalabel=0">
    <title>离散数学网后台管理系统</title>
    <link href="/muke/App/Admin/Common/css/common.css" rel='stylesheet' type='text/css' />
    <link href="/muke/App/Admin/Common/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
</head>
<body>
<nav>
    离散数学后台管理系统
</nav>
<section class="left">
    <ul>
        <li class="left_li"><a href="manage">主页</a></li>
        <li class="left_li"><a href="#">学生管理</a></li>
        <li class="left_li"><a href="message">留言管理</a></li>
    </ul>
</section>
<section class="right">
    <h2>学生信息</h2>

    <volist name="password" id="sail" offset="0" empty="没有学生信息"   key="k" >
         <span>编号</span>{$key+1}
        学生姓名{$sail.username}
        学生密码{$sail.password} <br>
    </volist>
</section>
<script src="/muke/App/Admin/Common/js/jquery.min.js"></script>
<script src="/muke/App/Admin/Common/js/bootstrap.min.js"></script>
</body>
</html>